In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
raw = pd.read_csv('Data Sample (AIC-1) - Online Retail.csv')

In [3]:
raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 8:34,"5,95",13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/10 8:34,"4,95",13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 9:02,"2,75",17850.0,United Kingdom

In [4]:
raw['UnitPrice'] = [i.replace(',', '.') for i in raw['UnitPrice']]
raw['UnitPrice'] = raw['UnitPrice'].astype(float)
raw['InvoiceDate'] = [datetime.strptime(i, '%m/%d/%y %H:%M') for i in raw['InvoiceDate']]

In [5]:
raw['Sum'] = raw['Quantity'] * raw['UnitPrice']

In [6]:
raw['Date'] = [i.strftime('%Y %m') for i in raw['InvoiceDate']]
raw['CustomerID'][np.isnan(raw['CustomerID'])] = 0
raw['CustomerID'] = [int(i) for i in raw['CustomerID']]

C:\Users\ataev.ilya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
df_full = raw[['InvoiceNo', 'StockCode', 'Quantity', 'Date', 'CustomerID', 'Sum']].query('CustomerID != 0')
df_full.to_excel('df_full.xlsx')

In [8]:
df_sums = df_full.groupby(['Date', 'InvoiceNo'])[['Sum']].sum().reset_index()
df_sums.head()

      Date InvoiceNo    Sum
0  2010 12    536365  20.34
1  2010 12    536367  71.93
2  2010 12    536368  14.85
3  2010 12    536373  22.00
4  2010 12    536375  15.30

In [9]:
df_mean_chk = df_sums.groupby('Date')[['Sum']].mean().reset_index()
df_mean_chk.to_excel('df_mean_chk.xlsx')

In [13]:
df_customs = df_full.groupby(['Date', 'CustomerID'])[['Sum']].count().reset_index()
df_cust_mean = df_customs.groupby('Date')[['Sum']].mean().reset_index()
df_cust_mean.to_excel('df_cust_mean.xlsx')

In [14]:
df_clients = df_full[['Date', 'CustomerID']]
df_clients.drop_duplicates(inplace=True)
df_clients_count = df_clients.groupby('Date')[['CustomerID']].count().reset_index()
df_clients_count.to_excel('df_clients_count.xlsx')

C:\Users\ataev.ilya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
df_full[['InvoiceNo', 'StockCode', 'Quantity', 'Date', 'CustomerID', 'Sum']].groupby('Date',as_index=False).agg(
    {
        'InvoiceNo':pd.Series.nunique, 
        'CustomerID':pd.Series.nunique,
        'StockCode':pd.Series.nunique,
        'Quantity':pd.Series.sum,
        'Sum':pd.Series.sum
    }
)

       Date  InvoiceNo  CustomerID  StockCode  Quantity         Sum
0   2010 12        991         705       1172     28649   53347.410
1   2011 01        750         589       1022     27056   52069.220
2   2011 02        735         591        999     28201   40272.850
3   2011 03        987         769       1146     34175   61813.820
4   2011 04        837         682       1037     26595   42496.100
5   2011 05       1087         834       1089     35352   61357.480
6   2011 06       1001         774       1136     37866   67948.710
7   2011 07        973         757       1165     37029   62114.110
8   2011 08        946         732       1211     40615   62275.770
9   2011 09       1348        1044       1449     52684   86099.951
10  2011 10       1453        1132       1578     53611   93875.960
11  2011 11       1997        1374       1723     71277  117163.190
12  2011 12        568         492        966     22696   39371.640