In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
raw = pd.read_csv('Data Sample (AIC-1) - Online Retail.csv')

In [3]:
raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,"3,39",17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,"1,69",13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/10 8:34,"5,95",13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/10 8:34,"4,95",13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 9:02,"2,75",17850.0,United Kingdom

In [4]:
raw['UnitPrice'] = [i.replace(',', '.') for i in raw['UnitPrice']]
raw['UnitPrice'] = raw['UnitPrice'].astype(float)
raw['InvoiceDate'] = [datetime.strptime(i, '%m/%d/%y %H:%M') for i in raw['InvoiceDate']]

In [5]:
raw['Sum'] = raw['Quantity'] * raw['UnitPrice']

In [29]:
raw['Date'] = [i.strftime('%Y %m') for i in raw['InvoiceDate']]
raw['CustomerID'][np.isnan(raw['CustomerID'])] = 0
raw['CustomerID'] = [int(i) for i in raw['CustomerID']]

C:\Users\ataev.ilya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [83]:
df_full = raw[['InvoiceNo', 'StockCode', 'Quantity', 'Date', 'CustomerID', 'Sum']].query('CustomerID != 0')
df_full.to_excel('df_full.xlsx')

In [62]:
df_sums = df_full.groupby(['Date', 'InvoiceNo'])[['Sum']].sum().reset_index()
df_sums.head()

      Date InvoiceNo    Sum
0  2010 12    536365  20.34
1  2010 12    536367  71.93
2  2010 12    536368  14.85
3  2010 12    536373  22.00
4  2010 12    536375  15.30

In [63]:
df_mean_chk = df_sums.groupby('Date')[['Sum']].mean().reset_index()
df_mean_chk.to_excel('df_mean_chk.xlsx')

In [64]:
df_customs = df_precustoms.groupby(['Date', 'CustomerID'])[['Sum']].count().reset_index()
df_cust_mean = df_customs.groupby('Date')[['Sum']].mean().reset_index()
df_cust_mean.to_excel('df_cust_mean.xlsx')

In [82]:
df_clients = df_full[['Date', 'CustomerID']]
df_clients.drop_duplicates(inplace=True)
df_clients_count = df_clients.groupby('Date')[['CustomerID']].count().reset_index()
df_clients_count.to_excel('df_clients_count.xlsx')

C:\Users\ataev.ilya\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy